{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl text-green-800 p-2" role="heading" aria-level="1">About</h1>
<div class="m-4">
  <ul role="list">
    <li role="listitem">
      <a href="https://gojiberries.io/2023/07/02/hard-problems-about-research-software/" class="text-blue-500 hover:underline" role="link">Gojiberries Article</a>
    </li>
    <li role="listitem">
      <a href="https://github.com/recite/softverse" class="text-blue-500 hover:underline" role="link">GitHub - Softverse</a>
    </li>
    <li role="listitem">
      <a href="https://github.com/recite/softwarecite.com" class="text-blue-500 hover:underline" role="link">GitHub - Softwarecite.com</a>
    </li>
  </ul>
</div>
{% endblock content %}