{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl text-green-800 p-2">About</h1>
<div class="m-4">
  <ul>
    <li>
      <a href="https://gojiberries.io/2023/07/02/hard-problems-about-research-software/" class="text-blue-500 hover:underline">Gojiberries Article</a>
    </li>
    <li>
      <a href="https://github.com/recite/softverse" class="text-blue-500 hover:underline">GitHub - Softverse</a>
    </li>
    <li>
      <a href="https://github.com/recite/softwarecite.com" class="text-blue-500 hover:underline">GitHub - Softwarecite.com</a>
    </li>
  </ul>
</div>
{% endblock content %}