{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Softwarecite</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>

<body class="bg-gray-50 font-serif leading-normal tracking-normal">
	<nav class="bg-white border-gray-200 dark:bg-gray-900 shadow-md">
		<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/" class="flex items-center">
				<span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Softwarecite</span>
			</a>
			<div class="flex md:w-1/2 md:order-1">
				<button id="search-toggle" type="button" data-collapse-toggle="navbar-search"
					aria-controls="navbar-search" aria-expanded="false"
					class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mr-1">
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
						viewBox="0 0 20 20">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
					</svg>
					<span class="sr-only">Search</span>
				</button>
				<div class="relative hidden w-full md:block">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
						</svg>
						<span class="sr-only">Search icon</span>
					</div>
					<input type="text" id="search-navbar"
						class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Search..." onkeydown="handleEnter(event);">
				</div>
				<button id="navbar-toggle" data-collapse-toggle="navbar-search" type="button"
					class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
					aria-controls="navbar-search" aria-expanded="false">
					<span class="sr-only">Open main menu</span>
					<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
						viewBox="0 0 17 14">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							d="M1 1h15M1 7h15M1 13h15" />
					</svg>
				</button>
			</div>
			<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-2" id="navbar-search">
				<div class="relative mt-3 md:hidden">
					<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
						<svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
						</svg>
					</div>
					<input type="text" id="search-navbar"
						class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
						placeholder="Search..." onkeydown="handleEnter(event);">
				</div>
				<ul
					class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					<!--<li>
					<a href="#" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500" aria-current="page">Home</a>
				  </li>-->
					<li>
						<a href="{% url 'about_view' %}"
							class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">About</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="max-w-screen-xl container mx-auto p-4">
		{% block content %}
		{% endblock content %}
	</div>
	<!-- Footer -->
	<footer class=" bg-gray-800 text-white p-4 fixed bottom-0 w-full flex justify-between items-center mx-auto">
		<div class="max-w-screen-xl container mx-auto flex justify-between items-center">
			<span>&copy; 2024 Softwarecite.com</span>
			<a href="https://github.com/recite/softwarecite.com" target="_blank" rel="noopener noreferrer"
				class="flex items-center space-x-2">
				<svg class="w-8 h-8" fill="currentColor" viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd"
						d="M48.854 0C21.839 0 0 22 0 49.217c0 21.756 13.993 40.172 33.405 46.69 2.427.49 3.316-1.059 3.316-2.362 0-1.141-.08-5.052-.08-9.127-13.59 2.934-16.42-5.867-16.42-5.867-2.184-5.704-5.42-7.17-5.42-7.17-4.448-3.015.324-3.015.324-3.015 4.934.326 7.523 5.052 7.523 5.052 4.367 7.496 11.404 5.378 14.235 4.074.404-3.178 1.699-5.378 3.074-6.6-10.839-1.141-22.243-5.378-22.243-24.283 0-5.378 1.94-9.778 5.014-13.2-.485-1.222-2.184-6.275.486-13.038 0 0 4.125-1.304 13.426 5.052a46.97 46.97 0 0 1 12.214-1.63c4.125 0 8.33.571 12.213 1.63 9.302-6.356 13.427-5.052 13.427-5.052 2.67 6.763.97 11.816.485 13.038 3.155 3.422 5.015 7.822 5.015 13.2 0 18.905-11.404 23.06-22.324 24.283 1.78 1.548 3.316 4.481 3.316 9.126 0 6.6-.08 11.897-.08 13.526 0 1.304.89 2.853 3.316 2.364 19.412-6.52 33.405-24.935 33.405-46.691C97.707 22 75.788 0 48.854 0z"
						fill="#fff" />
				</svg>
			</a>
		</div>
	</footer>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const button = document.getElementById('navbar-toggle');
			const searchButton = document.getElementById('search-toggle');
			const menu = document.getElementById('navbar-search');

			searchButton.addEventListener('click', function () {
				menu.classList.toggle('hidden');
			});

			button.addEventListener('click', function () {
				menu.classList.toggle('hidden');
			});
		});
		function handleEnter(event) {
			if (event.key === "Enter") {
				event.preventDefault();
				var searchQuery = document.getElementById("search-navbar").value;
				if (searchQuery != "") {
					// You can perform any actions you need with the searchQuery, e.g., redirect to a URL
					var url = "{% url 'package_view' name='example' %}".replace('example', encodeURIComponent(searchQuery));
					window.location.href = url;
				}
			}
		}
	</script>
	{% block script %}
	{% endblock script %}
</body>

</html>