{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl text-green-800 p-2">Softwarecite</h1>
<div class="p-4">
  Auto-computed citations to software from replication files. 

  We sift through replication files of over 34 journals including the APSR, AJPS, JoP, BJPolS, Political Analysis, World Politics, and Political Behavior to tally the libraries used. 

  For more information, see <a class="text-blue-500 hover:underline" href="https://github.com/recite/softverse" target="_blank">Softverse</a>. The code behind this site is available <a class="text-blue-500 hover:underline" href="https://github.com/recite/softwarecite.com" target="_blank">here</a>.

</div>
{% endblock content %}