{% extends "base.html" %}

{% block content %}
<div class="container mx-auto flex flex-col items-center justify-center">
  <h1 class="text-3xl text-green-800 p-2 mt-4">Softwarecite</h1>
  <div class="relative w-full lg:w-1/2 mt-4">
    <div id="autocomplete" class="autocomplete mx-auto mt-4">
    <input id="search-navbar"
      class="autocomplete-input"
      placeholder="Search a Python or R package name...">
      <ul class="autocomplete-result-list"></ul>
    </div>
  </div>
  <div class="w-full lg:w-1/2 p-4 mt-8">
    Auto-computed citations to software from replication files. We sift through replication files of over 34 journals, including the APSR, AJPS, JoP, BJPolS, Political Analysis, World Politics, and Political Behavior, to tally the libraries used.
    For more information, see <a class="text-blue-500 hover:underline" href="https://github.com/recite/softverse" target="_blank">Softverse</a>. The code behind this site is available <a class="text-blue-500 hover:underline" href="https://github.com/recite/softwarecite.com" target="_blank">here</a>.
  </div>
</div>
{% endblock content %}